# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8f4090444ab3ac9094d43651c643e5a65c62cd104198d19c30519ccacf8ebf1a4910d02123be3ef2d0eae1c1ea27346ec7e711319fb89c557115921481299c7a

test:
  secret_key_base: 0b0ac5489114ce4bcaf68159a1c3f657680afc647a089a2084a3e8716fe1a37a5503302f98c2278ff523cf1af0df6cf12c52eee2d77eae8244cf3cab52456a0a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
