<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.home.title"), root_path %></li>
        <li><%= link_to t("pages.about.title"), page_path(page: "about") %></li>
        <li><%= link_to t("pages.contact.title"), page_path(page: "contact") %></li>
        <li><%= link_to t(".login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
